{% extends 'base.html.twig' %}

{% block body %}
    {% verbatim %}
    <div class="container" data-ng-controller="MainController as vm">
        Hey there, there's some angular code:
        <br/>controller value plus one is {{ vm.value + 1 }}
    </div>
    {% endverbatim %}
{% endblock %}

{% block stylesheets %}
    {# To use this we need to add `extract_css: true` to `config.yml`. See MabaWebpackBundle readme for more info #}
    {# Without this, it would still work, but initial styles would be loaded asynchronously #}
    {% set cssUrl = webpack_asset('@app/bootstrap.js', 'css') %}
    {% if cssUrl %}
        <link rel="stylesheet" href="{{ cssUrl }}"/>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script src="{{ webpack_asset('@app/bootstrap.js') }}"></script>
{% endblock %}
